<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- Load code từ file _navigation.html.erb -->
    <%= render 'layouts/navigation' %>
    <!-- Load code từ file _messages.html.erb -->
    <%= render 'layouts/messages' %>
     
    <div class="container">
      <%= yield %>
    </div>
    
    <!-- Load code từ file _footer.html.erb -->
    <%= render 'layouts/footer' %>

  </body>
</html>
